<tr>
    <td class="para3" style="padding-top: 30px;">
        For any questions, suggestions & concerns. Please contact us at <a href="tel:<%= meta.contactNumber %>"
            style="text-decoration: none; font-weight: 600"><%= meta.contactNumber %></a>
    </td>
</tr>
</table>
<!-- table _3 end -->
</td>
</tr>
<tr>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="text-align: right; padding: 20px 0 30px;">
            <tr>
                <td style="display: inline-block; margin-left: 15px;">
                    <a href="https://www.instagram.com/challenge/3120413417/eaI7xJwnMd" style="display: inline-block"><img
                            src="<%= meta.baseImageUrl %>images/instagram.png" alt=""></a>
                </td>
                <!-- <td style="display: inline-block; margin-left: 15px;">
                    <a href="javascript:void(0)" style="display: inline-block"><img
                            src="<%= meta.baseImageUrl %>images/pinterest.png" alt=""></a>
                </td> -->
                <td style="display: inline-block; margin-left: 15px;">
                    <a href="https://www.facebook.com/KFCIndia/?brand_redir=48754878397" style="display: inline-block"><img
                            src="<%= meta.baseImageUrl %>images/facebook.png" alt=""></a>
                </td>
                <td style="display: inline-block; margin-left: 15px;">
                    <a href="https://twitter.com/kfcarabia" style="display: inline-block"><img
                            src="<%= meta.baseImageUrl %>images/twitter.png" alt=""></a>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
<!-- table _2 end  -->
</td>
</tr>
</table>
<!-- table _1 end  -->
</body>

</html>